<!-- Ruby Partials like... _header.html.erb notice the underscore __ -->
<!-- C:\Rails-Websites\AAA_Website\app\views\layouts\_header.html.erb -->
<!--  -->

<header>
<h1>Ashtead Allotments Association</h1>
<h2>Healthy Eating and Exercise preserve Life's Balance</h2>
</header>

